<h1>Ответы для любознательных</h1>
      <p>Чтобы разобраться в том, как работает система поиска работы в Твиттере,<br>необходимо внимательно прочитать ответы на типичные вопросы.</p>
   
<div class="row-fluid">
        <div class="span3 l2space">
            <ol class="faq_q">
                <li>
                    <a href="#0">
                        Зачем нужна еще одна система поиска работы для фрилансеров?
                    </a>
                </li>
                <hr>
                <li>
                    <a href="#1">
                        Я фрилансер – дизайнер банеров. Как мне найти работу?
                    </a>
                </li>
                <li>
                    <a href="#2">
                        Хочу на сайте себе флеш-банер, как разместить объявление в твиттере?
                    </a>
                </li>
                <li>
                    <a href="#3">
                        Мне нужно сделать сайт на флеше. Какие теги использовать?
                    </a>
                </li>
                <li>
                    <a href="#4">
                        Я html-верстальщик. Как заказчики узнаю о моем существовании?
                    </a>
                </li>
                <hr>
                <li>
                    <a href="#5">
                        Обожаю очень подробно расписывать то, что мне нужно от фрилансеров. 140 символов &mdash; не для меня!
                    </a>
                </li>

            </ol>
        </div>

        <div class="span9">
        <ol class="faq">
            <li>
                <h3><a name="0"> Зачем нужна еще одна система поиска работы для фрилансеров?</a></h3>
                <div>
                    Инернет развился уже достаточно для того, чтобы фрилансеры и работодатели могли успешно сотрудничать, используя только свой твиттер-клиент.<br>
                    <h4>Плюсы:</h4>
                    <ul>
                        <li>Чтобы разместить объявление о работе или найти ее, необходим любой клиент твиттера, буть это приложение для Android, iPhone или просто сайт <a href="https://twitter.com">twitter.com</a></li>
                        <li>Удобно для новичков: при поиске исполнителей в твиттере, новички будут в топе.</li>
                        <li>Удобно для старожилов: посредством анализа профиля твиттера, можно оценить количество и качество выполненных работ фрилансером.</li>
                        <li>Удобно для работодателей: поиск твитов с отзывами о клиенте, позволят сразу оценить &mdash; стоит заключать с ним сделку или нет.</li>
                    </ul>
                    <h4>Минусы:</h4>
                    <ul>
                        <li>Неизбежен мусор в выдаче при поиске твитов. Но мы надеемся, что если каждый будет бдителен, то система станет самоорганизующейся.</li>
                        <li>Нет систем рейтинга, кармы и т.п.</li>                        
                    </ul>
                </div>
            </li>

            <li><h3><a name="1">Я фрилансер – дизайнер банеров. Как мне найти работу?</a></h3>
	            <div>
	            Нужно открыть любой из клиентов Твиттера и произвести поиск<br>твитов по тегам: <span class="label label-important">#lancelist #дизайн #банер</span>.<br><br>
	            <img src="/img/lancelist_manual_1.png" class="thumbnail" /><br>
	            Находим твит с предложением работы, который нам нравится, и пишем ответ на этот твит со своим предложением. <br>            
	            </div>
            </li>
	        <li>
                <h3><a name="2">Хочу на сайте себе флеш-банер, как разместить объявление в твиттере?</a></h3>
	            <div>
	            Отправляем твит следующего содержания:<br>
	            <img src="/img/lancelist_manual_2.png" class="thumbnail" /><br>
	            Ждем ответы на твит.
	            </div>
	         </li>   
            <li>
            <h3><a name="3">Мне нужно сделать сайт на флеше. Какие теги использовать?</a></h3>
            <div>
            Переходим в раздел «Найти работу», находим категорию: «Разработка сайтов» и пункт в ней «Флеш-сайты».<br>
			Справа от пункта написан набор тегов: <span class="label label-important">#lancelist #сайт #флеш</span>.			
            </div>
            </li>
            <li>
            <h3><a name="4">Я html-верстальщик. Как заказчики узнаю о моем существовании?</a></h3>
            <div>
            	Нужно написать твит следующего вида:
                <div class="well">
				@lancelist #сайт #верстка http://fotohost.ru/1.jpg Использую CSS3 и HTML5
            </div>
				Твит состоит из 4 частей:
				<ol>
    				<li>@lancelist (обязательно)</li>
    				<li>Теги соответствующие тематике (обязательно)</li>
    				<li>Ссылкиа на фото из портфолио (по желанию)</li>
    				<li>Краткое описание (по желанию)</li>
				</ol>
                Таким образом, когда заказчики будут искать разработчиков в твиттере по тегам <span class="label label-important">@lancelist #дизайн #банер</span>, то среди найденых окажетесь вы.
            </div>
            </li>
            <li>
            <h3><a name="5">Обожаю очень подробно расписывать то, что мне нужно от фрилансеров. 140 символов &mdash; не для меня!</a></h3>
            <div>
                С хранением длинного и внятного описания отлично спрявятся хостинги текста, например <a href="http://pastebin.com/" target="_blank">http://pastebin.com/</a>.<br>
                Картинки и файлы всегда можно хранить по адресу: <a href="http://rghost.ru/" target="_blank">http://rghost.ru/</a>

            </div>
            </li>
        </ol>    
        </div>

</div>