<h1>Поиск в твиттере</h1>

      <p>Выберите категорию и кликните на теги, соответствующие ей.<br>Вы будете перенаправлены на сайт <a href="https://twitter.com">twitter.com</a>, в котором автоматически будет произведен поиск твитов по тегам.</p>
   
      {include file="categories-list.tpl"}
   